@use "../global/variables" as var;
@use "../global/mixin" as mixin;
@use "../global/typograpy" as typo;
@use "../component/arrow" as arrow;

.form-page {
	.section-ja-title {
		padding-top: 73px;
		@include var.mq-up('xl') {
			padding-top: 0;
		}
	}
}

.form-top-text {
	padding: 25px 30px;
	background: var.$color-beige;
	font-size: var.$small-font-size;
	@include var.mq-up('xl') {
		font-size: var.$base-font-size;
	}
}

.form-flow {
	margin-top: 49px;
	ul {
		justify-content: space-around;
		li {
			position: relative;
			width: 100%;
			padding: 8px 0;
			text-align: center;
			font-weight: bold;
			background: var.$color-pink;
			&.flow-active {
				color: var.$color-white;
				background: var.$color-red;
				&:after {
					position: absolute;
					top: 0;
					right: -15px;
					width: 0;
					height: 0;
					border-left: 15px solid var.$color-red;
					border-top: 20px solid transparent;
					border-bottom: 20px solid transparent;
					content: "";
					z-index: 1;
				}
			}
			&:nth-of-type(2),
			&:nth-of-type(3) {
				&.flow-active {
					padding-left: 8px;
					&:before {
						position: absolute;
						top: 0;
						left: 0;
						width: 0;
						height: 0;
						border-left: 15px solid var.$color-pink;
						border-top: 20px solid transparent;
						border-bottom: 20px solid transparent;
						content: "";
						z-index: 1;
					}
				}
			}
			&:nth-of-type(3) {
				&:after {
					display: none;
				}
			}
		}
	}
}

.form {
	margin-bottom: 94px;
	.form-list {
		.form-item {
			padding: 20px 0;
			border-bottom: 1px dotted #ccc;
			@include var.mq-up('xl') {
				padding: 40px 0;
			}
			label {
				vertical-align: middle;
			}
			dt {
				margin-bottom: 8px;
				font-size: typo.rem(16);
				font-weight: bold;
				.input-required {
					margin: -6px 0 0 4px;
					padding: 0 4px;
					font-size: typo.rem(10);
					color: var.$color-white;
					background: var.$color-red;
					border-radius: 2px;
				}
			}
			dd{
				.company-err{
					color:var.$color-red;
				}
			}
			input,
			select,
			textarea {
				padding: 8px;
				border: 1px solid var.$color-gray;
				@include var.mq-up('xl') {
					padding: 12px;
				}
				&::placeholder {
					color: var.$color-gray;
				}
			}
			input {
				font-size: var.$base-font-size;
				&.error{
					border:2px solid var.$color-red;
				}
			}
			input[type=radio]{
				width:18px;
				height:18px;
			}
			input[type=radio],
			input[type=check] {
				margin: -2px 4px 0 0;
			}
			.form-file {
				margin-right: 8px;
				padding: 4px 12px;
				font-size: var.$base-font-size;
				color: var.$color-black;
				background: var.$color-beige;
				border: 1px solid var.$color-gray;
				border-radius: 2px;
			}
			select {
				background: var.$color-beige;
				border-radius: 2px;
			}
			dd {
				img {
					max-width: 328px;
					margin-top: 20px;
				}
			}
			&.size{
				> .title{

				}
				.content{
					display: flex;
					align-items: flex-start;
					column-gap: 60px;
					row-gap: 40px;
					flex-wrap: wrap;
					margin-top:20px;
					.box{
						@include var.mq-up('md'){
							width: 28%;
						}
						> .flex{
							display: flex;
							justify-content: flex-start;
							> .title{
								width: 5em;
							}
							.select{
								select{
									width: 100%;
									padding-left: 5px;
									padding-right: 5px;
								}
							}
						}
						.image{

						}
					}
				}
			}
		}
		p.form-att {
			margin-top: 8px;
			font-size: var.$small-font-size;
			@include var.mq-up('xl') {
				font-size: var.$base-font-size;
			}
			a {
				color: var.$color-red;
				font-weight: bold;
				text-decoration: underline;
			}
		}
	}
	.form-thanks {
		@include mixin.width-100vw;
		padding: 55px 0;
		background: var.$color-beige;
		.sofia {
			font-size: typo.rem(28);
			font-weight: bold;
		}
	}
}

.property-form-flow {
	margin-top: 20px;
}

.property-form {
	.form-list {
		.form-list-ttl {
			display: flex;
			margin-top: 20px;
			font-size: typo.rem(18);
			font-weight: bold;
			align-items: center;
			.border {
				background-color: var.$color-black;
				height: 1px;
				margin-left: 20px;
				width: 70%;
			}
		}
		.form-item {
			padding: 20px 0 0 0;
			border: none;
		}
	}
}
.form-postal {

  p:first-child {
    margin-right: 4px;
  }

  p:last-child {
    
    display: flex;
    align-items: center;

    .postal-code {
      input {
        width: 22.4vw;
        max-width: 84px;
      }
      
    }

    .prefecture {
      select {
        width: 35.4vw;
        max-width: 133px;
      }
    }
  }
}


#form_confirm{
    .main_contents{
		#buttonClose{
			position: absolute;
			right: 5px;
			top: 5px;
			@include var.mq-up('md'){
				right: -25px;
				top: -25px;
			}
		}
        .contents{
			background-color: #f4f4f4;
			padding-bottom:20px;
			padding-top:35px;
			padding-left:15px;
			padding-right:15px;
			margin-left: auto;
			margin-right: auto;
			@include var.mq-up('md'){
				padding-left:30px;
				padding-right:30px;
                padding-bottom:30px;
                padding-top:30px;
            }
            @include var.mq-up('xl') {
				display: flex;
				flex-wrap:wrap;
				justify-content: center;
            }
			@include var.mq-down('xs'){
				padding-top:15px;
				padding-bottom:30px;
			}
			.text{
				text-align: center;
				font-size:16px;
				@include var.mq-down('xs'){
					font-size:11px;
				}
			}
            .primary{
				margin:20px 0;
                display: flex;
                flex-flow: row wrap;
                width: 100%;
				flex-flow: column;
				border: 1px solid #ccc;
				@include var.mq-up('xl'){
					border:none;
					flex-flow: nowrap;
					flex-wrap: wrap;
				}
				@include var.mq-down('xs'){
					margin:10px 0;
				}
                dt{
                    flex-basis: 30%;
                    padding: 5px 15px;
                    background-color: #999;
                    font-size: 14px;
					color:#fff;
                    @include var.mq-up('xl'){
                        border-left: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                    }
					@include var.mq-down('xs'){
						padding: 2px 15px;
						font-size: 11px;
					}
                    &:first-child{
                        @include var.mq-up('xl'){
                            border-top: 1px solid #ccc;
                        }
                    }
                }
                dd{
                    flex-basis: 70%;
                    padding: 5px 15px;
                    background-color: #fff;
                    font-size: 14px;
                    line-height: 1.3;
					min-height: 28px;
                    @include var.mq-up('xl'){
                        border-right: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                    }
					@include var.mq-down('xs'){
						padding: 2px 15px;
						font-size: 11px;
						min-height: 18px;
					}
                    &:nth-child(2){
                        @include var.mq-up('xl'){
                            border-top: 1px solid #ccc;
                        }
                    }
                }
            }
			.button_box{
				text-align: center;
				button{
					display: inline-block;
					width: 120px;
					padding: 9px;
					margin: 5px;
					color: #fff;
					cursor: pointer;
					border: 0;
					border-radius: 5px;
					font-size:14px;
					@include var.mq-down('xs'){
						padding: 5px;
						font-size:12px;
					}
					&.cancel{
						background-color: #999;
					}
					&.submit{
						background-color: var.$color-red;
					}
					&:hover{
						@include var.mq-up('xl'){
							opacity: 0.8;
						}
					}
				}
			}
        }
    }
}

.container-modal{
	background-color: rgba(33,36,46,.80);
    border: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
	overflow: auto;
	@include var.mq-down('xs'){
		margin-top:0;
	}
	.wrapper-modal{
		max-height: 80vh;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100%;
		@include var.mq-up('md'){
			width: 90%;
		}
		@include var.mq-up('xl'){
			width:800px;
		}
		@include var.mq-down('xs'){
			top:0;
			left:0;
			transform: translate(0, 0);
		}
	}
}



